.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img{
        max-height: 8rem;
        max-width: 100%;
    }

    a{
        color: white;
        text-decoration: none;
    }

    .service-item{
        margin: 1.2rem;
        padding: 1.5rem;

        width: 12rem;
        height: 20rem;

        border: 2px solid white;
        border-radius: 25px;

        h2{
            text-transform: capitalize;
        }
    }

    .service-item:hover {
        transform: scale(1.2);
    }
}
