.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    a{
        color: white;
        text-decoration: none;
    }

    .service-item{
        margin: 1.2rem;

        width: 16rem;
        height: 16rem;

        position: relative;

        overflow: hidden;

        .service-logo{
            position: absolute;
            top: 0;
            padding: 2rem;

            // background-color:  #e4dceb;
            // border-radius: 50%;

            img{
                width: 12rem;
                height: 12rem;
                object-fit: contain;
            }
        }

        .service-content{
            position: absolute;
            top: -16rem;
            padding: 1rem;

            width: 14rem;
            height: 14rem;

            background-color: black;
            opacity: 0.8;

            transition: .5s;

            h2{
                text-transform: capitalize;
            }
        }
    }

    .service-item:hover .service-content {
        top: 0;
    }

}
