@import 'services/services';

.App {
    h1{font-size: 5rem;}
    text-align: center;
}

.App-header {
    padding: 20px;
    // background-color: #282c34;
    min-height: 100vh;
    // font-size: calc(10px + 2vmin);
    background: rgb(197,193,205);
    background: linear-gradient(132deg, rgba(197,193,205,1) 20%, rgba(178,139,185,1) 47%, rgba(217,168,206,1) 77%);
    // color: white;
}

.App-link {
    color: #61dafb;
}
